<%- include('partials/header') -%>
<h1>Feed</h1>
<ul>
  <% posts.forEach(post => { %>
    <li>
      <h2><%= post.title %></h2>
      <img src="<%= post.imagePath %>" alt="<%= post.title %>" style="max-width: 300px;">
      <h3>Ingredients:</h3>
      <ul>
        <% const ingredients = post.ingredients.split(","); %>
        <% ingredients.forEach(ingredient => { %>
          <li><%= ingredient.trim() %></li>
        <% }) %>
      </ul>
      <h3>Directions:</h3>
      <ol>
        <% const directions = post.directions.split("\n"); %>
        <% directions.forEach(direction => { %>
          <li><%= direction.trim() %></li>
        <% }) %>
      </ol>
      <p>Likes: <%= post.likes %></p>
      <form action="/post/likePost/<%= post._id %>?_method=PUT" method="POST">
        <button type="submit">Like</button>
      </form>
    </li>
  <% }) %>
</ul>
<%- include('partials/footer') -%>
